.about{
    width: 100%;
    height: 100%;
}
.top{
    width: 1590px;
    height: 400px;
    background: url(../imgs/About.jpg) no-repeat;
    background-size: 1590px 400px;
}
.box1{
    width: 100%;
    height: 100%;
}
